/* Example tokeninput style #2: rehub style */
ul.token-input-list-rehub {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 340px;
    border: 1px solid #ddd;
    cursor: text;
    font-size: 12px;
    min-height: 1px;
    z-index: 999;
    background-color: #fff;
    webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}
#rehub_post_metabox ul.token-input-list-rehub{    border-color: #ccc;
    padding: 3px 5px;
    margin: 0;
    border-radius: 3px; width: 100%; box-sizing: border-box;}
ul.token-input-list-rehub:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
    box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 )
}

ul.token-input-list-rehub li input, ul.token-input-list-rehub li input:focus {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.token-input-list-rehub li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

#mainbox li.token-input-token-rehub {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

#mainbox li.token-input-token-rehub p {
    display: inline;
}
#rehub_post_metabox li.token-input-token-rehub {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

#rehub_post_metabox li.token-input-token-rehub p {
    display: inline;
}

li.token-input-token-rehub span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-rehub {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-rehub {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-rehub {
    position: absolute;
    width: 340px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
	font-size: 14px;
    z-index: 1;
}

div.token-input-dropdown-rehub p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-rehub ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-rehub ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-rehub ul li.token-input-dropdown-item-rehub {
    background-color: #fff;
}

div.token-input-dropdown-rehub ul li.token-input-dropdown-item2-rehub {
    background-color: #fff;
}

div.token-input-dropdown-rehub ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-rehub ul li.token-input-selected-dropdown-item-rehub {
    background-color: #3b5998;
    color: #fff;
}